$opacity-black: rgba(0, 0, 0, 0.3);
$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #808080;
$light-grey: #DFE3E6;
$basic-red: #EA0029;
$grey-light: #CFDAE7;
$grey-normal: #EEF0F2;
$basic-orange: #FF5E56;
$normal-orange: #F53A31;
$lighten-grey: #BEC5CC;
$opacity-red: rgba(234, 0, 41, 0.33);
$orange-gradient: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;


$mobile-width: 320px;
$tablet-width: 768px;
$desctop-width: 1400px;
